@model IEnumerable<Domain.Models.Room>

@{
    ViewData["Title"] = "Index";
}
<br />
<br />
<br />
<br />
<br />
<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table table-hover">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Guest.Id)
            </th>


            <th>
                @Html.DisplayNameFor(model => model.Guest)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.From)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.To)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsEmpty)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.RoomType)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.MealPlan)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Guest.Id)
            </td><td>
                @Html.DisplayFor(modelItem => item.Guest.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.From)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.To)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsEmpty)
            </td>
          
            <td>
                @Html.DisplayFor(modelItem => item.RoomType.TypeName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MealPlan.MealType)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
