@model Domain.Models.ViewModels.TotalReservation

<div>
    <h4>TotalReservation</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Chechindate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Chechindate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Chechoutdate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Chechoutdate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.NumberOfGuests)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.NumberOfGuests)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.RoomType)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.RoomType)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.MealPlane)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.MealPlane)
        </dd>
        <dt>
            <label>Total Reservation Price</label>
        </dt>
        <dd>
            <b>@ViewBag.g</b>
        </dd>
    </dl>
</div>
@section scripts{
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script>
    //AdultsNumber
    //ChildrenNumber
    

    </script>
}

